<form action='/signup' method='POST'>
  <input type="text" placeholder="Username" name="username"/>
    <input type="text" placeholder="Firstname" name="firstname"/>
      <input type="text" placeholder="surname" name="surname"/>


  
    <input type="password" placeholder="Confirm Password" name="password_confirm"/>
    <input type="password" placeholder="Password" name="password"/>
  <input type="email" olaceholder="Email" name="user_email">

  <button type="submit">Submit</button>
</form>